
.mask_pane {
    -fx-background-color: rgba(50, 100, 100, 0.4);
}

.header_pane {
    -fx-background-color: lightgray;
}

/* clean toolbar buttons */
.clearButtonsContainer .button, .clearButtonsContainer .toggle-button {
    -fx-background-color: transparent;
}

.clearButtonsContainer .button:hover, .clearButtonsContainer .toggle-button:hover {
    -fx-background-color: darkgrey;
    -fx-background-radius: 0;
}

.clearButtonsContainer .button:armed {
    -fx-background-color: darkcyan;
    -fx-background-radius: 0;
}

.clearButtonsContainer .toggle-button:selected {
    -fx-background-color: lightgray;
    -fx-background-radius: 0;
}

/* tab pane style */
.tab-pane .tab-header-area .tab-header-background {
    -fx-background-color: #eeeeee;
}